{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Alex's Recipes!</title>
    <link rel="stylesheet" href="{% static 'recipes2/master/master.css' %}" />
    <link rel="stylesheet" href="{% static 'recipes2/master/columns.css' %}" />
    <link rel="stylesheet" href="{% static 'recipes2/contents/contents.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% comment %} <script src="scripts/common.js" defer></script> {% endcomment %}
    {% comment %} <script src="scripts/contents.js" defer></script> {% endcomment %}
  </head>

  <body>
    <header class="header-bar">
      <h1>Contents</h1>
      <ul class="icons-list">
        <li class="icon-wrapper list-control">
          <button onclick="document.querySelectorAll('.list-control').forEach(li => li.classList.toggle('hidden')); document.querySelectorAll('details').forEach(detail => detail.setAttribute('open', ''))">
            <svg height="27" xmlns="http://www.w3.org/2000/svg" width="27" viewBox="0 0 512 512" aria-labelledby="expand-icon" class="icon" role="img">
              <title id="expand-icon">Expand all categories</title>
              <path d="M344 0L488 0c13.3 0 24 10.7 24 24l0 144c0 9.7-5.8 18.5-14.8 22.2s-19.3 1.7-26.2-5.2l-39-39-87 87c-9.4 9.4-24.6 9.4-33.9 0l-32-32c-9.4-9.4-9.4-24.6 0-33.9l87-87L327 41c-6.9-6.9-8.9-17.2-5.2-26.2S334.3 0 344 0zM168 512L24 512c-13.3 0-24-10.7-24-24L0 344c0-9.7 5.8-18.5 14.8-22.2s19.3-1.7 26.2 5.2l39 39 87-87c9.4-9.4 24.6-9.4 33.9 0l32 32c9.4 9.4 9.4 24.6 0 33.9l-87 87 39 39c6.9 6.9 8.9 17.2 5.2 26.2s-12.5 14.8-22.2 14.8z"></path>
            </svg>
          </button>
        </li>
        <li class="icon-wrapper list-control hidden">
          <button onclick="document.querySelectorAll('.list-control').forEach(li => li.classList.toggle('hidden')); document.querySelectorAll('details').forEach(detail => detail.removeAttribute('open'))">
            <svg height="27" xmlns="http://www.w3.org/2000/svg" width="27" viewBox="0 0 512 512" aria-labelledby="minimise-icon" class="icon" role="img">
              <title id="minimise-icon">Minimise all categories</title>
              <path d="M439 7c9.4-9.4 24.6-9.4 33.9 0l32 32c9.4 9.4 9.4 24.6 0 33.9l-87 87 39 39c6.9 6.9 8.9 17.2 5.2 26.2s-12.5 14.8-22.2 14.8l-144 0c-13.3 0-24-10.7-24-24l0-144c0-9.7 5.8-18.5 14.8-22.2s19.3-1.7 26.2 5.2l39 39L439 7zM72 272l144 0c13.3 0 24 10.7 24 24l0 144c0 9.7-5.8 18.5-14.8 22.2s-19.3 1.7-26.2-5.2l-39-39L73 505c-9.4 9.4-24.6 9.4-33.9 0L7 473c-9.4-9.4-9.4-24.6 0-33.9l87-87L55 313c-6.9-6.9-8.9-17.2-5.2-26.2s12.5-14.8 22.2-14.8z"></path>
            </svg>
          </button>
        </li>
        <li class="icon-wrapper">
          <a href="{% url "recipes2:home" %}">
            <svg height="27" xmlns="http://www.w3.org/2000/svg" width="27" viewBox="0 0 576 512" aria-labelledby="home-icon" class="icon" role="img">
              <title id="home-icon">Go to home page</title>
              <path d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40H456c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1H416 392c-22.1 0-40-17.9-40-40V448 384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32v64 24c0 22.1-17.9 40-40 40H160 128.1c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2H104c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9 .1-2.8V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z"></path>
            </svg>
          </a>
        </li>
      </ul>
    </header>
    <section class="contents recipe-list-simple">
      {# Group by classification type #}
      {% regroup recipes by classification.type as type_list %}

      {% for type_group in type_list %}
        <h2>{{ type_group.grouper }}</h2>

        {# Group the inner list by classification.category #}
        {% regroup type_group.list by classification.category as category_list %}

        {% for category_group in category_list %}
          {% with classificationid=category_group.list.0.classification.id|stringformat:'s' %}
            <details {% if classificationid == focus %}open="open" class="focused"{% endif %}>
              <summary>
                <span class="name">{{ category_group.grouper }}</span><span class="count"> ({{ category_group.list|length }})</span>
              </summary>
              <ul>
                {% for recipe in category_group.list %}
                  <li>
                    <a href="{% url 'recipes2:viewer' recipe.slug %}">{{ recipe.name }}</a>                    
                  </li>
                {% endfor %}
              </ul>
            </details>
          {% endwith %}
        {% endfor %}
      {% endfor %}
    </section>
    <script>
      window.addEventListener('DOMContentLoaded', () => {
        const url = new URL(window.location)
        if (url.searchParams.has('focus')) {
          url.searchParams.delete('focus')
          window.history.replaceState({}, '', url.pathname + url.search + url.hash)
        }
      })
    </script>
  </body>
</html>
