{% extends 'manager/viewer/partials/_overlay.html' %}

{% block content %}
  <dl class="recipe-diary" onclick="event.stopPropagation()">
    {% regroup diaryentries.all by date|date:'Y-m-d' as diaryentries_by_day %}
    {% for day in diaryentries_by_day %}
      <dt>{{ day.grouper }}</dt>
      <dd>
        {% for diaryentry in day.list %}
          <strong>{{ diaryentry.date|date:'H:i' }}</strong>
          {{ diaryentry.content }}
        {% endfor %}
      </dd>
    {% endfor %}
    <dt>{% now "Y-m-d" %}</dt>
    <dd class="form">
      <strong id="diary-current-time">{% now 'H:i' %}</strong>
      <span id="diary-input" contenteditable="true"></span><span id="diary-add-login-tip" class="hidden">you might need to log in <a href="{% url 'manager:login' %}" target="_blank" class="clickable">here</a></span>
    </dd>
  </dl>
{% endblock %}
