#diary-overlay #diary-input {
    display: inline-flex;
    min-width: 4em;
    margin-bottom: 1em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    font-weight: normal;
}

#diary-overlay #diary-input:empty::after {
    content: 'Diary entry';
    font-style: italic;
    color: grey;
}

#diary-overlay #diary-input:empty:focus::after {
    color: white;
}

.diary-username {
    font-style: italic;
}

#diary-add-login-tip {
    padding-left: 0.2em;
    font-weight: normal;
}

#diary-add-login-tip>a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

#diary-add-login-tip>a:hover {
    color: darkred;
}

#diary-empty-message {
    text-align: center;
    margin-left: 0;
    margin-bottom: 1em;
}