.overlay-background {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100vw;
    z-index: 2;
    background: white;
}

.overlay-content-wrapper-wrapper {
    padding: 10px;
    position: relative;
    background-color: white;
}

.overlay-content-wrapper>:first-child {
    display: block;
    max-height: 80vh;
    max-width: 80vw;
    border: 1px solid black;
}

.overlay-close-wrapper {
    position: absolute;
    right: 15px;
}

.overlay-close {
    border: none;
    background: none;
    font-size: 1.2em;
    font-weight: bold;
}

.overlay-close:hover {
    color: darkred;
}

.overlay-print-heading {
    display: none;
}