# Text backup files
*.bak

# Database
*.sqlite3

# Python temp stuff
*.pyc
/backups

# Ignore recipe images
media/manager/*/images/

# Ignore .env
.env

# Ignore static files
staticfiles/

recipes2.egg-info/