#items-group .vTextField {
    width: unset;
}

#items-group table,
#steps-group table {
    display: block;
    max-width: 100%;
}       

textarea {
    height: 5em;
}

/* Sticky save buttons container */
#content-main form .submit-row {
    position: sticky;
    top: 0;
    z-index: 1000;
}

fieldset.sortable table tr.form-row.has_original td.original p {
    background-image: none;
}