{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'recipes2/master/master.css' %}" />
    <link rel="stylesheet" href="{% static 'recipes2/master/forms.css' %}" />
    <link rel="stylesheet" href="{% static 'recipes2/home/home.css' %}" />
    <title>yum, yum, yum</title>
  </head>

  <body>
    <header>
      <h1>Recipes</h1>
    </header>
    <nav>
      <ul>
        <li>
          <a href="{% url 'recipes2:contents' %}"><button>Contents</button></a>
        </li>
        <li>
          <a href="{% url 'recipes2:explore' %}"><button>Explore</button></a>
        </li>
        <li>
          <a href="{% url 'recipes2:gallery' %}"><button>Gallery</button></a>
        </li>
        <li>
          <a href="{% url 'recipes2:index' %}"><button>Index</button></a>
        </li>
      </ul>
    </nav>
    <section class="welcome">this is what i use when i'm in the kitchen + i coded it myself. if i made you something tasty the steps might be on here (and a link to wherever i stole it from). find a recipe with the search box below, or using the table of contents, explore page (new and improved!), gallery or indices.</section>
    <section class="search">
      <h2>Search</h2>
      <div class="form recipe-searchbox">
        <div class="form-group basic-search">
          <label for="name">Name:</label>
          <input type="search" name="name" id="name" value="" />
        </div>
        <button class="search">Search</button>
      </div>
      <ul class="search-results">
        {% for recipe in recipes %}
          <li class="search-result hidden">
            <a href="{% url 'recipes2:viewer' recipe.slug %}">{{ recipe.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </section>
    <script src="{% static 'recipes2/home/home.js' %}"></script>
  </body>
</html>
