{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'manager/master/master.css' %}" />
    <link rel="stylesheet" href="{% static 'manager/master/forms.css' %}" />
    <link rel="stylesheet" href="{% static 'manager/quick_search/quick_search.css' %}" />
    <title>Alex's Recipes!</title>
  </head>

  <body>
    <section class="search">
      <div class="form recipe-searchbox">
        <div class="form-group basic-search">
          <input type="search" name="query" id="query" value="" aria-label="Query" />
        </div>
      </div>
      <ul class="search-results">
        {% for recipe in recipes %}
          <li class="search-result hidden">
            <a href="{% url 'recipes2:viewer' recipe.slug %}">{{ recipe.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </section>
    <script src="{% static 'manager/quick_search/quick_search.js' %}"></script>
  </body>
</html>
