body {
    max-width: 500px;
    margin: auto;
}

header {
    margin-top: 50px;
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

h1 {
    margin-top: 5px;
    margin-bottom: 5px;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    text-transform: uppercase;
    text-align: center;
    font-size: 4em;
}

nav {
    display: flex;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

nav>ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 0;
}

nav>ul>li {
    display: flex;
    font-size: 1.5em;
    font-weight: bold;
}

section {
    font-size: 1.2em;
}

section.search {
    width: 100%;
}

section.search>.form {
    display: flex;
    justify-content: space-between;
}