.recipe-list-simple {
    padding: 15px;
}

.recipe-list-simple h2 {
    margin: 0px;
    font-size: 3rem;
}

.recipe-list-simple details,
.recipe-list-simple li {
    padding-left: 0.8rem;
    marker: none;
}

.recipe-list-simple details.focused {
    border-left: 2px solid black;
}

.recipe-list-simple details[open] .name {
    font-weight: bold;
}

.recipe-list-simple details[open] .count {
    display: none;
}   

.recipe-list-simple summary,
.recipe-list-simple li {
    font-size: 2.2rem;
}

.recipe-list-simple summary::marker,
.recipe-list-simple summary::-webkit-details-marker {
    display: none;
    content: "";
}

.recipe-list-simple summary>span.count {
    padding-left: 0.2em;
    color: #aaaaaa;
}

.recipe-list-simple summary>span.count::before {
    content: "(";
}

.recipe-list-simple summary>span.count::after {
    content: ")";
}

.recipe-list-simple ul {
    margin: 0px;
    padding-left: 0px;
    list-style-type: none;
    font-size: 1.6rem;
}

.recipe-list-simple li::marker {
    display: none;
    content: "";
}

@media only screen and (min-width: 992px) {

    .recipe-list-simple {
        column-count: 3;
    }

}