@font-face {
    font-family: "MyGaramond";
    src: url("/static/fonts/Garamond.woff2") format("woff2"),
         url("/static/fonts/Garamond.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "MyGaramond";
    src: url("/static/fonts/Garamond-Bold.woff2") format("woff2"),
         url("/static/fonts/Garamond-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "MyGaramond";
    src: url("/static/fonts/Garamond-Italic.woff2") format("woff2"),
         url("/static/fonts/Garamond-Italic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

* {
    font-family: MyGaramond, Baskerville, Baskerville Old Face, Hoefler Text, Times New Roman, serif, monospace;
}

.hidden {
    display: none !important;
}

body {
    margin: 0;
}

.header-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid black;
}

.header-bar h1 {
    margin: 0;
    line-height: 0.6;
    font-size: 4rem;
}

summary .name {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

a:hover,
button:hover,
summary>span.name:hover,
.form .toggle label:hover {
    color: darkred;
    fill: darkred;
    text-decoration: underline;
}

a:visited {
    color: #777;
}

.icons-list {
    display: flex;
    align-items: start;
    margin: 0;
    padding: 0;
}

.icons-list>li {
    display: flex;
    align-items: center;
}

.icons-list>li>svg {
    padding: 1px;
}

.icons-list>li>button {
    background: none !important;
    border: none !important;
    cursor: pointer;
}